@model IEnumerable<Model.EF.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section Contact{
    <script src="~/Content/Admin/js/contact.js"></script>
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Danh Sách Contact/h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <h2>QUẢN LÝ CONTACT</h2>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Thêm Contact</button><br /><br />
                <table class="table table-bordered table-hover" id="employeeTable">
                    <thead>
                        <tr>
                        
                            <th>
                                Address
                            </th>
                            <th>
                                Hotline
                            </th>
                            <th>
                                Call
                            </th>
                            <th>
                                Gmail
                            </th>
                            <th>
                                Description
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Hotline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Call)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" onclick=getbyID(@item.ContactID);><i class="fa fa-pen-fancy fa-lg"></i></a>
                                <a class="btn btn-danger btn-sm" onclick=Delete(@item.ContactID);><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@{Html.RenderAction("FormContact", "Contact");}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Admin/js/jquery.dataTables.min.js"></script>
    <script>
        function activatejQueryTable() {
            $("#employeeTable").DataTable();
        }

        $(function () {
            activatejQueryTable();
        });
    </script>
}

