@model IEnumerable<Model.EF.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section About{
    <script src="~/Content/Admin/js/about.js"></script>
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-dark">Danh Sách About</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <h2>QUẢN LÝ ABOUT</h2>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Thêm About</button><br /><br />
                <table class="table table-bordered table-hover" id="employeeTable">
                    <thead>
                        <tr>
                            <th>
                                Banner
                            </th>
                            <th>
                                icon
                            </th>
                            <th>
                                Hình ảnh
                            </th>

                            <th>
                                Avatar
                            </th>

                            <th>
                                Tên
                            </th>
                            <th>
                                HappyCustomer
                            </th>
                            <th>
                                FarmerName
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Summary
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>


                    </thead>
                    <tbody class="tbody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Banner)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.icon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Avatar)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HappyCustomer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FarmerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Position)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Summary)
                                </td>
                                <td>
                                    <a class="btn btn-success btn-sm" onclick=getbyID(@item.AboutID);><i class="fa fa-pen-fancy fa-lg"></i></a>
                                    <a class="btn btn-warning btn-sm" onclick=Delete(@item.AboutID);><i class="fa fa-trash fa-lg"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@{Html.RenderAction("FormAbout", "About");}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Admin/js/jquery.dataTables.min.js"></script>
    <script>
        function activatejQueryTable() {
            $("#employeeTable").DataTable();
        }

        $(function () {
            activatejQueryTable();
        });
    </script>
}


