@model IEnumerable<Model.EF.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section SanPham{
    <script src="~/Content/Admin/js/Order.js"></script>
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">QUẢN LÝ ĐƠN ĐẶT HÀNG</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-dark">Danh Sách đơn đặt hàng</h5>
        </div>
        <div class="card-body">
            <div class="content-body">
                <div class="table-responsive">  
                    <table class="table table-striped table-condensed" id="employeeTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShipName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShipMobile)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShipEmail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShipAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    Tổng tiền
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipMobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipAddress)
                                </td>
                                @if (item.Status == true)
                                {
                            <td>
                                Chưa giao
                            </td>
                                }
                                else
                                {
                            <td>
                                Giao thành công
                            </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.TongTien)
                                </td>
                                <td>
									<a class="btn btn-primary btn-sm" onclick=getbyID(@item.OrderID);><i class="fa fa-pen-fancy fa-lg"></i></a>
									<a class="btn btn-danger btn-sm" onclick=Delete(@item.OrderID);><i class="fa fa-trash fa-lg"></i></a>
                                    <a class="btn btn-danger btn-sm" href="/Admin/Order/Detail/@item.OrderID" >Chi tiết</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
@{Html.RenderAction("FormOrder", "Order");}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Admin/js/jquery.dataTables.min.js"></script>
    <script>
        function activatejQueryTable() {
            $("#employeeTable").DataTable();
        }

        $(function () {
            activatejQueryTable();
        });
    </script>
}



