@model IEnumerable<Model.EF.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section Blog{
    <script src="~/Content/Admin/js/Blog.js"></script>
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">QUẢN LÝ BLOG</h1>
    <p class="mb-4"> Bảng chứa thông tin các Blog</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Danh Sách Blog</h5>
        </div>
        <div class="card-body">
            <div class="content-body">
                <div class="table-responsive">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Thêm Blog</button><br /><br />
                    <table class="table table-striped table-condensed" id="employeeTable">
                        <thead>
                            <tr>
                                <th>
                                    TitleBlog
                                </th>
                                <th>
                                    Content
                                </th>
                                <th>
                                    CreateDate
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TitleBlog)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" onclick=getbyID(@item.BlogID);><i class="fa fa-pen-fancy fa-lg"></i></a>
                                    <a class="btn btn-danger btn-sm" onclick=Delete(@item.BlogID);><i class="fa fa-trash fa-lg"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
@{Html.RenderAction("FormBlog", "Blog");}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Admin/js/jquery.dataTables.min.js"></script>
    <script>
        function activatejQueryTable() {
            $("#employeeTable").DataTable();
        }

        $(function () {
            activatejQueryTable();
        });
    </script>
}





