@{ var DonHangDaGiao = (List<Model.ViewModel.DonHangViewModel>)ViewBag.DonHangDaGiao;}


<table class="table table-bordered dataTable" width="100%" cellspacing="0">
    <thead>
        <tr class="success">
            <th>
                Email
            </th>
            <th>
                Ngày Đặt Hàng
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Tên Người Đặt
            </th>
            <th>
                Số Điện Thoại
            </th>
            <th>
                Địa Chỉ Nhận Hàng
            </th>
            <th>
                Tổng Tiền
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in DonHangDaGiao)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipMobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    <a href="/User/ChiTietDonHang?orderID=@item.OrderID"><i class="fas fa-info-circle"></i></a>
                </td>
            </tr>
        }
    </tbody>


</table>
