@model IEnumerable<Model.EF.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section SanPham{
    <script src="~/Content/Admin/js/SanPham.js"></script>
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">QUẢN LÝ SẢN PHẨM</h1>
    <p class="mb-4"> Bảng chứa thông tin các sản phẩm.</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-dark">Danh Sách sản phẩm</h5>
        </div>
        <div class="card-body">
            <div class="content-body">
                <div class="table-responsive">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Thêm sản phẩm mới</button><br /><br />
                    <table class="table table-striped table-condensed" id="employeeTable">
                        <thead>
                            <tr>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Giá
                                </th>
                                <th>
                                    Số lượng còn lại
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSanPham)
                                    </td>
                                    <td>
                                        <img width="50px" height="50px" src="~/Content/Client/images/@Html.DisplayFor(modelItem => item.Image)" alt="Alternate Text" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DonGia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-sm" onclick=getbyID(@item.SanPhamID);><i class="fa fa-pen-fancy fa-lg"></i></a>
                                        <a class="btn btn-warning btn-sm" onclick=Delete(@item.SanPhamID);><i class="fa fa-trash fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
@{Html.RenderAction("FormSanPham", "SanPham");}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Admin/js/jquery.dataTables.min.js"></script>
    <script>
        function activatejQueryTable() {
            $("#employeeTable").DataTable();
        }

        $(function () {
            activatejQueryTable();
        });
    </script>
}



